<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-3 text-right">
      <%= post.user.username %>
      <%= image_tag post.user.avatar.thumb.url, class: "user_avatar" %>
    </div>
    <div class="col-md-6">
      <div>
        <%= image_tag post.photo.feed.url %>
      </div>
      <%= post.description %>
    </div>
    <div class="col-md-3">
    </div>
  </div>

<% end %>

<div class="row">
  <div class="col-md-3 text-right">
  </div>
  <div class="col-md-6 text-center">
    <%= link_to_next_page @posts, 'Load More', class: "btn btn-primary" %>
  </div>
  <div class="col-md-3">
  </div>
</div>
